@import "~bootstrap/scss/bootstrap";

.bgg{
    background-color: rgba(190,183,173,1) !important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw !important;
    box-shadow:  2px 3px rgba(0, 0, 0, 0.5);
    z-index: 999 !important;
}